{% extends 'default.html' %}
{% block title %}main{% endblock %}
{% block content %}
    <div class="album py-5 bg-secondary">
       <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-light bg-secondary">
          <h1 class="display-4 font-weight-normal">Обработка медицинских изображений</h1>
          <p class="lead font-weight-normal">INAI.KG</p>
          <div class="btn-group">
              <a href="{% url 'medshows_create' %}" class="btn btn-dark">Create medshow</a>
              <a href="{% url 'parse:med_apartment_list' %}" class="btn btn-dark">Med Apartments</a>
              <a href="{% url 'parse:parse_func' %}" class="btn btn-dark">Parse</a>
          </div>

       </div>
       <div class="container">
          <div class="row">
             {% for object in object_list %}
                 <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                       <img class="card-img-top" src="{{ object.images.url }}" alt="Card image cap">
                       <div class="card-body">
                          <h3 class="card-text text-center">
                              <a href="{% url 'medshows_detail' object.id %}" class="link-dark">
                                  {{ object.title }}
                              </a>
                          </h3>
                          <p class="card-text">{{ object.description }}</p>
                       </div>
                    </div>
                 </div>
             {% endfor %}
          </div>
       </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
       Holder.addTheme('thumb', {
         bg: '#55595c',
         fg: '#eceeef',
         text: 'Thumbnail'
       });
    </script>
{% endblock %}
