{% extends 'default.html' %}

{% block content %}
<div class="album py-5 bg-secondary">
   <div class="container">
      <br><br><br>
      <div class="row">
         <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Update medical show</h4>
            <form action="{% url 'medshows_update' medshow.id %}" class="needs-validation" novalidate method="POST">
               {% csrf_token %}
               <div class="row">
                  <div class="col-md-6 mb-3">
                     <label for="title">Title</label>
                     <input type="text" class="form-control" id="title" name="title" value="{{ medshow.title }}" placeholder="" required>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="description">Description</label>
                     <textarea class="form-control" id="description" name="description" placeholder="" required>{{ medshow.description }}</textarea>
                  </div>
                  <div class="col-md-6 mb-3">
                    <select class="custom-select d-block w-100" name="type" required>
                        {% for type in medshow_types %}
                            {% if type == medshow.type %}
                                <option value="{{ type }}" name="city" selected>{{ type }}</option>
                            {% else %}
                                <option value="{{ type }}" name="city">{{ type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="images">Image</label>
                     <input type="file" class="form-control" id="images" name="images" placeholder="" required>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="timeadd">date and time</label>
                     <input type="text" class="form-control" id="timeadd" value="{{ medshow.timeadd }}" name="timeadd" placeholder="" required>
                  </div>
               </div>
               <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
            </form>
            <br><br><br><br>
         </div>
      </div>
   </div>
</div>
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
   // Example starter JavaScript for disabling form submissions if there are invalid fields
   (function() {
     'use strict';
   
     window.addEventListener('load', function() {
       // Fetch all the forms we want to apply custom Bootstrap validation styles to
       var forms = document.getElementsByClassName('needs-validation');
   
       // Loop over them and prevent submission
       var validation = Array.prototype.filter.call(forms, function(form) {
         form.addEventListener('submit', function(event) {
           if (form.checkValidity() === false) {
             event.preventDefault();
             event.stopPropagation();
           }
           form.classList.add('was-validated');
         }, false);
       });
     }, false);
   })();
</script>
{% endblock %}
